## Preprocessing

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import tensorflow



#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv('../Resources/charity_data.csv')
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df1 = application_df.drop(['EIN','NAME'],axis=1)
application_df1.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Determine the number of unique values in each column.
application_df1.apply(pd.Series.nunique)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
application_df1['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  Cutoff value will be 1% of the data set which is ~ 330 
cutoff = 330
application_types_to_replace = ['T13','T12','T2','T14','T25','T29','T15','T17']


# Replace in dataframe
for app in application_types_to_replace:
    application_df1['APPLICATION_TYPE'] = application_df1['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df1['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
classification_df1= pd.DataFrame(application_df1['CLASSIFICATION'].value_counts())
print(classification_df1.index)

Index(['C1000', 'C2000', 'C1200', 'C3000', 'C2100', 'C7000', 'C1700', 'C4000',
       'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230',
       'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C6000',
       'C1800', 'C1250', 'C8200', 'C1238', 'C1278', 'C1237', 'C1235', 'C7210',
       'C1720', 'C4100', 'C2400', 'C1257', 'C1600', 'C2710', 'C1260', 'C0',
       'C1256', 'C1267', 'C1246', 'C3200', 'C1234', 'C4500', 'C2600', 'C2190',
       'C2150', 'C1283', 'C2170', 'C1248', 'C4200', 'C5200', 'C2380', 'C1580',
       'C1732', 'C1900', 'C1728', 'C6100', 'C8210', 'C1820', 'C2570', 'C2561',
       'C1236', 'C1570', 'C4120', 'C3700', 'C1370', 'C2500', 'C1245'],
      dtype='object')

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
df = classification_df1

df[df>1]

df2 = df[df<330]

df3 = df2.dropna()

df3

       CLASSIFICATION
C1700           287.0
C4000           194.0
C5000           116.0
C1270           114.0
C2700           104.0
...               ...
C4120             1.0
C3700             1.0
C1370             1.0
C2500             1.0
C1245             1.0

[65 rows x 1 columns]

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Will use the same logic here and go with the 1% rule of the dataset being the cutoff
cutoff = 330
classifications_to_replace = []
#for cls in df:
  #if cls < cutoff:
    #classifications_to_replace.append(cls.index.values)
    #print(cls)

classifications_to_replace = df3.index.values
classifications_to_replace
# Replace in dataframe
for cls in classifications_to_replace:
    application_df1['CLASSIFICATION'] = application_df1['CLASSIFICATION'].replace(cls,"Other")
   
  
# Check to make sure binning was successful
application_df1['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df2 = pd.get_dummies(application_df1)

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df2['IS_SUCCESSFUL'].values
X = application_df2.drop(['IS_SUCCESSFUL'],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model
## In this optimization I will be adding a 3rd layer to the neural network and using 16, 8, and 10 nodes

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  16
hidden_nodes_layer2 = 8
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 40)                1840
_________________________________________________________________
dense_1 (Dense)              (None, 20)                820
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 21
=================================================================
Total params: 2,681
Trainable params: 2,681
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 635us/step - loss: 0.5709 - accuracy: 0.7197
Epoch 2/100
804/804 [==============================] - 0s 545us/step - loss: 0.5539 - accuracy: 0.7321
Epoch 3/100
804/804 [==============================] - 0s 550us/step - loss: 0.5510 - accuracy: 0.7309
Epoch 4/100
804/804 [==============================] - 0s 552us/step - loss: 0.5501 - accuracy: 0.7331
Epoch 5/100
804/804 [==============================] - 1s 630us/step - loss: 0.5491 - accuracy: 0.7332
Epoch 6/100
804/804 [==============================] - 0s 536us/step - loss: 0.5482 - accuracy: 0.7335
Epoch 7/100
804/804 [==============================] - 0s 528us/step - loss: 0.5476 - accuracy: 0.7332
Epoch 8/100
804/804 [==============================] - 1s 648us/step - loss: 0.5466 - accuracy: 0.7326
Epoch 9/100
804/804 [==============================] - 0s 524us/step - loss: 0.5461 - accuracy: 0.7334
Epoch 10/100
804/804 [==============================] - 1s 637us/step - loss: 0.5457 - accuracy: 0.7337
Epoch 11/100
804/804 [==============================] - 0s 561us/step - loss: 0.5454 - accuracy: 0.7347
Epoch 12/100
804/804 [==============================] - 0s 593us/step - loss: 0.5446 - accuracy: 0.7346
Epoch 13/100
804/804 [==============================] - 0s 579us/step - loss: 0.5451 - accuracy: 0.7350
Epoch 14/100
804/804 [==============================] - 0s 547us/step - loss: 0.5444 - accuracy: 0.7354
Epoch 15/100
804/804 [==============================] - 0s 550us/step - loss: 0.5438 - accuracy: 0.7349
Epoch 16/100
804/804 [==============================] - 0s 519us/step - loss: 0.5437 - accuracy: 0.7357
Epoch 17/100
804/804 [==============================] - 1s 754us/step - loss: 0.5431 - accuracy: 0.7359
Epoch 18/100
804/804 [==============================] - 1s 658us/step - loss: 0.5427 - accuracy: 0.7356
Epoch 19/100
804/804 [==============================] - 1s 723us/step - loss: 0.5425 - accuracy: 0.7364
Epoch 20/100
804/804 [==============================] - 1s 702us/step - loss: 0.5428 - accuracy: 0.7371
Epoch 21/100
804/804 [==============================] - 0s 588us/step - loss: 0.5423 - accuracy: 0.7367
Epoch 22/100
804/804 [==============================] - 0s 596us/step - loss: 0.5423 - accuracy: 0.7366
Epoch 23/100
804/804 [==============================] - 0s 527us/step - loss: 0.5419 - accuracy: 0.7370
Epoch 24/100
804/804 [==============================] - 0s 560us/step - loss: 0.5413 - accuracy: 0.7380
Epoch 25/100
804/804 [==============================] - 0s 530us/step - loss: 0.5414 - accuracy: 0.7372
Epoch 26/100
804/804 [==============================] - 1s 640us/step - loss: 0.5416 - accuracy: 0.7365
Epoch 27/100
804/804 [==============================] - 1s 639us/step - loss: 0.5409 - accuracy: 0.7376
Epoch 28/100
804/804 [==============================] - 0s 536us/step - loss: 0.5410 - accuracy: 0.7377
Epoch 29/100
804/804 [==============================] - 1s 669us/step - loss: 0.5411 - accuracy: 0.7372
Epoch 30/100
804/804 [==============================] - 1s 667us/step - loss: 0.5407 - accuracy: 0.7379
Epoch 31/100
804/804 [==============================] - 0s 610us/step - loss: 0.5404 - accuracy: 0.7371
Epoch 32/100
804/804 [==============================] - 1s 647us/step - loss: 0.5407 - accuracy: 0.7376
Epoch 33/100
804/804 [==============================] - 0s 603us/step - loss: 0.5401 - accuracy: 0.7380
Epoch 34/100
804/804 [==============================] - 0s 557us/step - loss: 0.5407 - accuracy: 0.7384
Epoch 35/100
804/804 [==============================] - 0s 574us/step - loss: 0.5404 - accuracy: 0.7378
Epoch 36/100
804/804 [==============================] - 1s 642us/step - loss: 0.5403 - accuracy: 0.7380
Epoch 37/100
804/804 [==============================] - 0s 559us/step - loss: 0.5401 - accuracy: 0.7380
Epoch 38/100
804/804 [==============================] - 0s 579us/step - loss: 0.5399 - accuracy: 0.7389
Epoch 39/100
804/804 [==============================] - 1s 677us/step - loss: 0.5399 - accuracy: 0.7381
Epoch 40/100
804/804 [==============================] - 0s 607us/step - loss: 0.5397 - accuracy: 0.7381
Epoch 41/100
804/804 [==============================] - 0s 610us/step - loss: 0.5394 - accuracy: 0.7389
Epoch 42/100
804/804 [==============================] - 0s 595us/step - loss: 0.5395 - accuracy: 0.7383
Epoch 43/100
804/804 [==============================] - 0s 610us/step - loss: 0.5391 - accuracy: 0.7377
Epoch 44/100
804/804 [==============================] - 0s 604us/step - loss: 0.5392 - accuracy: 0.7386
Epoch 45/100
804/804 [==============================] - 0s 605us/step - loss: 0.5390 - accuracy: 0.7393
Epoch 46/100
804/804 [==============================] - 0s 605us/step - loss: 0.5392 - accuracy: 0.7380
Epoch 47/100
804/804 [==============================] - 1s 657us/step - loss: 0.5393 - accuracy: 0.7405
Epoch 48/100
804/804 [==============================] - 0s 606us/step - loss: 0.5388 - accuracy: 0.7385
Epoch 49/100
804/804 [==============================] - 0s 595us/step - loss: 0.5387 - accuracy: 0.7388
Epoch 50/100
804/804 [==============================] - 0s 599us/step - loss: 0.5388 - accuracy: 0.7385
Epoch 51/100
804/804 [==============================] - 0s 616us/step - loss: 0.5386 - accuracy: 0.7388
Epoch 52/100
804/804 [==============================] - 0s 599us/step - loss: 0.5387 - accuracy: 0.7385
Epoch 53/100
804/804 [==============================] - 0s 602us/step - loss: 0.5386 - accuracy: 0.7394
Epoch 54/100
804/804 [==============================] - 0s 563us/step - loss: 0.5381 - accuracy: 0.7386
Epoch 55/100
804/804 [==============================] - 0s 583us/step - loss: 0.5385 - accuracy: 0.7392
Epoch 56/100
804/804 [==============================] - 0s 579us/step - loss: 0.5386 - accuracy: 0.7386
Epoch 57/100
804/804 [==============================] - 1s 629us/step - loss: 0.5383 - accuracy: 0.7391
Epoch 58/100
804/804 [==============================] - 1s 628us/step - loss: 0.5381 - accuracy: 0.7395
Epoch 59/100
804/804 [==============================] - 0s 575us/step - loss: 0.5381 - accuracy: 0.7389
Epoch 60/100
804/804 [==============================] - 0s 577us/step - loss: 0.5379 - accuracy: 0.7390
Epoch 61/100
804/804 [==============================] - 0s 577us/step - loss: 0.5379 - accuracy: 0.7378
Epoch 62/100
804/804 [==============================] - 0s 571us/step - loss: 0.5377 - accuracy: 0.7388
Epoch 63/100
804/804 [==============================] - 0s 577us/step - loss: 0.5379 - accuracy: 0.7390
Epoch 64/100
804/804 [==============================] - 0s 575us/step - loss: 0.5376 - accuracy: 0.7402
Epoch 65/100
804/804 [==============================] - 0s 573us/step - loss: 0.5373 - accuracy: 0.7392
Epoch 66/100
804/804 [==============================] - 0s 601us/step - loss: 0.5374 - accuracy: 0.7395
Epoch 67/100
804/804 [==============================] - 0s 578us/step - loss: 0.5373 - accuracy: 0.7402
Epoch 68/100
804/804 [==============================] - 1s 638us/step - loss: 0.5372 - accuracy: 0.7396
Epoch 69/100
804/804 [==============================] - 0s 579us/step - loss: 0.5369 - accuracy: 0.7385
Epoch 70/100
804/804 [==============================] - 0s 581us/step - loss: 0.5378 - accuracy: 0.7393
Epoch 71/100
804/804 [==============================] - 0s 576us/step - loss: 0.5369 - accuracy: 0.7398
Epoch 72/100
804/804 [==============================] - 0s 597us/step - loss: 0.5369 - accuracy: 0.7391
Epoch 73/100
804/804 [==============================] - 0s 564us/step - loss: 0.5373 - accuracy: 0.7393
Epoch 74/100
804/804 [==============================] - 0s 590us/step - loss: 0.5368 - accuracy: 0.7395
Epoch 75/100
804/804 [==============================] - 1s 625us/step - loss: 0.5370 - accuracy: 0.7395
Epoch 76/100
804/804 [==============================] - 0s 577us/step - loss: 0.5368 - accuracy: 0.7402
Epoch 77/100
804/804 [==============================] - 1s 627us/step - loss: 0.5371 - accuracy: 0.7387
Epoch 78/100
804/804 [==============================] - 0s 572us/step - loss: 0.5367 - accuracy: 0.7406
Epoch 79/100
804/804 [==============================] - 0s 620us/step - loss: 0.5368 - accuracy: 0.7395
Epoch 80/100
804/804 [==============================] - 0s 588us/step - loss: 0.5366 - accuracy: 0.7403
Epoch 81/100
804/804 [==============================] - 0s 592us/step - loss: 0.5367 - accuracy: 0.7401
Epoch 82/100
804/804 [==============================] - 0s 565us/step - loss: 0.5371 - accuracy: 0.7403
Epoch 83/100
804/804 [==============================] - 0s 588us/step - loss: 0.5368 - accuracy: 0.7399
Epoch 84/100
804/804 [==============================] - 0s 607us/step - loss: 0.5366 - accuracy: 0.7397
Epoch 85/100
804/804 [==============================] - 0s 583us/step - loss: 0.5364 - accuracy: 0.7402
Epoch 86/100
804/804 [==============================] - 0s 592us/step - loss: 0.5364 - accuracy: 0.7400
Epoch 87/100
804/804 [==============================] - 0s 589us/step - loss: 0.5365 - accuracy: 0.7399
Epoch 88/100
804/804 [==============================] - 0s 585us/step - loss: 0.5364 - accuracy: 0.7411
Epoch 89/100
804/804 [==============================] - 0s 587us/step - loss: 0.5368 - accuracy: 0.7398
Epoch 90/100
804/804 [==============================] - 0s 582us/step - loss: 0.5363 - accuracy: 0.7403
Epoch 91/100
804/804 [==============================] - 0s 616us/step - loss: 0.5360 - accuracy: 0.7396
Epoch 92/100
804/804 [==============================] - 0s 585us/step - loss: 0.5363 - accuracy: 0.7393
Epoch 93/100
804/804 [==============================] - 0s 584us/step - loss: 0.5360 - accuracy: 0.7406
Epoch 94/100
804/804 [==============================] - 0s 579us/step - loss: 0.5363 - accuracy: 0.7407
Epoch 95/100
804/804 [==============================] - 1s 697us/step - loss: 0.5364 - accuracy: 0.7401
Epoch 96/100
804/804 [==============================] - 0s 605us/step - loss: 0.5360 - accuracy: 0.7409
Epoch 97/100
804/804 [==============================] - 1s 932us/step - loss: 0.5361 - accuracy: 0.7397
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7402
Epoch 99/100
804/804 [==============================] - 1s 676us/step - loss: 0.5356 - accuracy: 0.7396
Epoch 100/100
804/804 [==============================] - 0s 594us/step - loss: 0.5360 - accuracy: 0.7402

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5538 - accuracy: 0.7257
Loss: 0.5538325309753418, Accuracy: 0.7257142663002014

In [20]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity2.h5")