## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import tensorflow



#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv('../Resources/charity_data.csv')
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df1 = application_df.drop(['EIN','NAME'],axis=1)
application_df1.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [9]:
# Determine the number of unique values in each column.
application_df1.apply(pd.Series.nunique)

APPLICATION_TYPE            10
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
application_df1['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  Cutoff value will be 1% of the data set which is ~ 330 
cutoff = 330
application_types_to_replace = ['T13','T12','T2','T14','T25','T29','T15','T17']


# Replace in dataframe
for app in application_types_to_replace:
    application_df1['APPLICATION_TYPE'] = application_df1['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df1['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [12]:
# Look at CLASSIFICATION value counts for binning
classification_df1= pd.DataFrame(application_df1['CLASSIFICATION'].value_counts())
print(classification_df1.index)

Index(['C1000', 'C2000', 'C1200', 'C3000', 'C2100', 'C7000', 'C1700', 'C4000',
       'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230',
       'C1400', 'C2300', 'C7200', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800',
       'C6000', 'C1250', 'C8200', 'C1278', 'C1238', 'C1235', 'C1237', 'C7210',
       'C1720', 'C2400', 'C4100', 'C1600', 'C1257', 'C0', 'C1260', 'C2710',
       'C1256', 'C1234', 'C1267', 'C3200', 'C1246', 'C8210', 'C1820', 'C1283',
       'C1580', 'C4500', 'C1732', 'C2570', 'C1370', 'C1236', 'C3700', 'C1900',
       'C1570', 'C2190', 'C2600', 'C1245', 'C5200', 'C6100', 'C2380', 'C1248',
       'C2561', 'C2500', 'C2150', 'C1728', 'C4200', 'C2170', 'C4120'],
      dtype='object')

In [13]:
# You may find it helpful to look at CLASSIFICATION value counts >1
df = classification_df1

df[df>1]

df2 = df[df<330]

df3 = df2.dropna()

df3

       CLASSIFICATION
C1700           287.0
C4000           194.0
C5000           116.0
C1270           114.0
C2700           104.0
...               ...
C2150             1.0
C1728             1.0
C4200             1.0
C2170             1.0
C4120             1.0

[65 rows x 1 columns]

In [14]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Will use the same logic here and go with the 1% rule of the dataset being the cutoff
cutoff = 330
classifications_to_replace = []
#for cls in df:
  #if cls < cutoff:
    #classifications_to_replace.append(cls.index.values)
    #print(cls)

classifications_to_replace = df3.index.values
classifications_to_replace
# Replace in dataframe
for cls in classifications_to_replace:
    application_df1['CLASSIFICATION'] = application_df1['CLASSIFICATION'].replace(cls,"Other")
   
  
# Check to make sure binning was successful
application_df1['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [15]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df2 = pd.get_dummies(application_df1)

In [16]:
# Split our preprocessed data into our features and target arrays
y = application_df2['IS_SUCCESSFUL'].values
X = application_df2.drop(['IS_SUCCESSFUL'],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 368
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 419
Trainable params: 419
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [82]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7342
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7339
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7342
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7347
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7339
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7341
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7345
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7343
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7341
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7350
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7341
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7341
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7340
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7350
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7345
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7350
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7342
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7343
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7336
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7345
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7348
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7350
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7341
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7344
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7353
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7346
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7344
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7347
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7354
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7351
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7348
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7350
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7350
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7342
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7352
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7351
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7346
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7345
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7344
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7348
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7348
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7346
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7346
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7346
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7349
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7352
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7348
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7347
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7350
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7348
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7348
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7348
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7352
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7347
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7341
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7353
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7352
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7348
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7349
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7348
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7352
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7349
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7347
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7348
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7352
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7351
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7349
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7352
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7347
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7352
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7352
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7351
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7345
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7355
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7345
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7347
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7348
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7350
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7344
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7345
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7358
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7352
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7356
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7345
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7347
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7357
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7344
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7352
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7357
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7345
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7349
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7353
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7351
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7353
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7348
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7353
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7347
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7355
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7349
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7352

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.7298 - accuracy: 0.3946
Loss: 0.7298467755317688, Accuracy: 0.39463555812835693

In [22]:
# Export our model to HDF5 file
nn.save("charity_predictor_model1.h5")